---
http_interactions:
- request:
    method: get
    uri: https://us1.locationiq.com/v1/search.php?format=json&key=4761fe29bfc618&q=Great%20Pyramid%20of%20Giza
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"72860647","licence":"https:\/\/locationiq.com\/attribution","osm_type":"way","osm_id":"4420397","boundingbox":["29.9781249","29.9801279","31.1330737","31.1354031"],"lat":"29.9791264","lon":"31.1342383751015","display_name":"Great
        Pyramid of Giza, Cause way, Kom al Akhdar, Giza, Giza Governorate, 12561,
        Egypt","class":"tourism","type":"attraction","importance":0.97861371244118,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_point_of_interest.p.20.png"}]'
  recorded_at: Wed, 20 Mar 2019 17:05:55 GMT
- request:
    method: get
    uri: https://us1.locationiq.com/v1/search.php?format=json&key=4761fe29bfc618&q=Hanging%20Gardens%20of%20Babylon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"331034446046","licence":"https:\/\/locationiq.com\/attribution","lat":"37.03617","lon":"27.2433[...]
- request:
    method: get
    uri: https://us1.locationiq.com/v1/search.php?format=json&key=4761fe29bfc618&q=Colossus%20of%20Rhodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"23658857","licence":"https:\/\/locationiq.com\/attribution","osm_type":"node","osm_id":"2363415795","boundingbox":["36.3396576","36.3397576","28.2002664","28.2003664"],"lat":"36.3397076","lon":"28.2003164","display_name":"Colossus,
        \u039a\u03b1\u03bb\u03bb\u03b9\u03b8\u03ad\u03b1\u03c2, Faliraki, \u0394\u03ae\u03bc\u03bf\u03c2
        \u03a1\u03cc\u03b4\u03bf\u03c5, Rhodes Regional Unit, South Aegean Region,
        Aegean, 85100, Greece","class":"amenity","type":"bar","importance":0.211,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/food_bar.p.20.png"}]'
  recorded_at: Wed, 20 Mar 2019 17:05:57 GMT
- request:
    method: get
    uri: https://us1.locationiq.com/v1/search.php?format=json&key=4761fe29bfc618&q=Pharos%20of%20Alexandria
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"140292211","licence":"https:\/\/locationiq.com\/attribution","osm_type":"way","osm_id":"255811087","boundingbox":["30.9478905","30.9480211","29.5234869","29.5236384"],"lat":"30.94795585","lon":"29.5235626430011","display_name":"Pharos
        of Abusir, North Coast Road, Sidi Kerir tanker facility, Salsabeel, Alexandria
        Governorate, Egypt","class":"historic","type":"archaeological_site","importance":0.50108919297929,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/tourist_archaeological2.p.20.png"}]'
  recorded_at: Wed, 20 Mar 2019 17:05:58 GMT
- request:
    method: get
    uri: https://us1.locationiq.com/v1/search.php?format=json&key=4761fe29bfc618&q=Statue%20of%20Zeus%20at%20Olympia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"50942112","licence":"https:\/\/locationiq.com\/attribution","osm_type":"node","osm_id":"3988791718","boundingbox":["37.6378588","37.6379588","21.6299563","21.6300563"],"lat":"37.6379088","lon":"21.6300063","display_name":"Statue
        of Zeus at Olympia, \u0395\u039f74, Ancient Olympia, Ancient Olympia Municipality,
        Elis Regional Unit, West Greece Region, Peloponnese, West Greece and Ionian
        Sea, 27065, Greece","class":"tourism","type":"artwork","importance":0.88151155186229,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/tourist_art_gallery2.p.20.png"}]'
  recorded_at: Wed, 20 Mar 2019 17:06:00 GMT
- request:
    method: get
    uri: https://us1.locationiq.com/v1/search.php?format=json&key=4761fe29bfc618&q=Temple%20of%20Artemis
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"69727267","licence":"https:\/\/locationiq.com\/attribution","osm_type":"node","osm_id":"5919442848","bound[...]
- request:
    method: get
    uri: https://us1.locationiq.com/v1/search.php?format=json&key=4761fe29bfc618&q=Mausoleum%20at%20Halicarnassus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"151312430","licence":"https:\/\/locationiq.com\/attribution","osm_type":"way","osm_id":"310931457","boundingbox":["37.0374405","37.0381636","27.4236543","27.4245892"],"lat":"37.03785995","lon":"27.4241280469557","display_name":"Mausoleum
        at Halicarnassus, Turgutreis Cad., Tepecik Mh., Bodrum, Mu\u011fla, Aegean
        Region, 48400, Turkey","class":"tourism","type":"attraction","importance":0.61612825880798,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_point_of_interest.p.20.png"}]'
  recorded_at: Wed, 20 Mar 2019 17:06:02 GMT
recorded_with: VCR 4.0.0
